[Unit]
Description=Sway Power lid handler (background)
After=graphical-session.target
PartOf=graphical-session.target

[Service]
ExecStart=__EXEC_PATH__ daemon
Restart=always
RestartSec=2

[Install]
WantedBy=graphical-session.target
